name: Build and Deploy

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch: # Esto permite que lo actives manualmente si falla lo anterior

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Plugins
        run: |
          chmod +x gradlew
          ./gradlew make makePluginsJson

      - name: Push to Repo
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Build plugins [skip ci]" || exit 0
          git push